.TodoItem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50%;
    height: 48px;
    border-radius: 5px;
    font-family: 'Oxygen', sans-serif;
    box-shadow: 1px 1px 5px grey;
}

.TodoItem-selected{
    background: rgb(180, 172, 172);
}

.btn-cancel {
    background-color: transparent;
    border: none;
    padding: 0;
    /* margin: auto; */
}

.field-checkbox {
    margin: 20px;
}

.text{
    margin: auto;
    text-align: center;
}

.text-line{
    text-decoration: line-through;
}