.TodoItem{
    margin: 10px;
    width: 50%;
    height: 48px;
    border-radius: 5px;
    font-family: 'Oxygen', sans-serif;
    box-shadow: 1px 1px 5px grey;
}

.btn-cancel {
    background-color: #FE0100;
    border-radius: 5px;
    border: none;
}